.container {
    padding: 20px 10% 0 10%;
}

header {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

header img {
    max-width: 200px;
}

.banner {
    margin: 40px 10% 60px 10%;
    text-align: center;
}

.banner h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #9163CC;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
}

.banner h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

.board {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex-grow: 1;
    min-width: 200px;
    max-width: 350px;
    min-height: 150px;
    padding: 5%;
    margin: 30px 5px 30px 5px;
    background-color: #976dd00a;
    border-radius: 10px;
}

.card h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #9163CC;
    line-height: 1.6;
}

.card p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.card input {
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color:  #5A6978;
    height: 25px;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    margin-top: 20px;
}

.action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.action button {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
}

.action button:hover {
    cursor: pointer;
}

#btn-calculate {
    background-color: #9163CC;
    color: #FFFF;
}

#btn-restart {
    background-color: #f8f9fa;
    color: #5A6978;
}

#result {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 80px 50px;
    min-height: 35px;
}

#resultMessage {

}

footer {
    padding: 60px;
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer a {
    color: #9163CC;
}

.about-me {
    width: 45%;
    min-width: 300px;
    padding: 10px;
}

.about-me-links {
    width: 45%;
    min-width: 300px;
    padding: 10px;
}